.navbar {
  background-color: #214151;
}

.jumbotron {
  padding-top: 6rem;
  background-color: #a2d0c1;
}

.jumbotron p {
  margin-bottom: 0;
}

#about {
  background-color: #eff7e1;
}

#skills {
  background-color: #a2d0c1;
}

.progress-bar {
  background-color: #f8dc81;
}

@media only screen and (max-width: 576px) {
  #skills #content div.col-sm-3 {
    width: 75%;
  }
}

#contact {
  background-color: #eff7e1;
}

footer {
  background-color: #a2d0c1;
}
